html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html { height: 100% }
body { height: 100%; max-height: 100%; margin: 0; padding: 0; border: 0;
font-family: verdana,arial,sans-serif; font-size:14px;}

.left { float: left; width: 230px; height: 100%; margin: 5px; }
.right { float: left; display: inline-block; height: 100%}
.bottom { position:absolute; bottom: 0; width: 200px; }

#tweet { float: left; width: 50%; }
#facebook { float: right; width: 50%; }
#adholder { width: 200px; margin: 0px auto }

h1 {font-size: 25px; }

.group, .tree {width: 400px; margin:4px;}
.group table {width: 100%}
.group .match {width: 100%;}
.group .match span {width: 175px; display:inline-block; text-align: right; }


.qf, .sf, .final, .champ {float:left; width: 100px}
.qf div {margin: 4px 0 4px 0;}
.sf div {margin: 4px 0 4px 0;}
.final div {margin: 4px 0 4px 0;}
.champ {margin: 4px 0 4px 0;}
