body {
    font-family:arial,helvetica,verdana,sans-serif;
    background: #bbbbbb;
}

.left {
    margin-right: 10px;
    float:left;
}

.navbar {
    padding: 10px 10px 10px 10px;
    border-top: black 1px solid;
    border-bottom: black 1px solid;
    border-left: black 1px solid;
    border-right: black 1px solid;    
    clear:left;
    margin-bottom:10px;
    
    background: #eeeeee;
}

.wrapper {
    float:left;
    display: inline-block;
    margin-right: 10px;
}

.rightbar {
    float:left;
}

.rightad {
    margin-bottom:450px;
}

a:link, a:visited, a:active {
    color: #0055ff;
}

a:hover {
    color: #114499;
}

.mtmb {
    margin-top:10px;
    margin-bottom:10px;
}

.groupheader{
    margin-top:5px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 20px;
}

.group{
    padding: 10px 10px 10px 10px;
    border-top: black 1px solid;
    border-bottom: black 1px solid;
    border-left: black 1px solid;
    border-right: black 1px solid;
    margin-bottom: 10px;
    float:left;
    clear:left;
    background: #eecc66;
    width:540px;
}

.kostage {
    padding: 10px 10px 10px 10px;
    border-top: black 1px solid;
    border-bottom: black 1px solid;
    border-left: black 1px solid;
    border-right: black 1px solid;
    margin-bottom: 10px;
    clear:left;
    float:left;
    background: #eecc66;
    display:inline-block;
}

#tiebreak{
    width: 90%;
    margin-left: 5%;
    background: #EEEEEE;
    padding: 5px 5px 5px 5px;
    margin-bottom:10px;
    border-top: black 1px solid;
    border-bottom: black 1px solid;
    border-left: black 1px solid;
    border-right: black 1px solid;    
}

ol {
    margin-top: 0px;
    margin-bottom: 0px;
}

table {
    width: 100%;
    background: #eeeeee;
    border: black 1px solid;
    border-top: black 1px solid;
    border-bottom: black 1px solid;
    border-collapse: collapse;
	
}
tr {
    padding: 0px 0px 0px 0px;
}

th {
    padding: 2px 2px 2px 2px;
    border:0px;
    border-left: black 1px solid;
    border-right: black 1px solid;
    border-bottom: black 2px solid;
}
td {
    padding: 2px 2px 2px 2px;
    border:0px;
    border-left: black 1px solid;
    border-right: black 1px solid;
    text-align: center;
    
}

.teamhead th{
    border-bottom: black 1px solid;
}

.teamrow{
}

.teamname {
    text-align: left;
}

.match{
    padding-top:10px;
}

.match span {
    display: inline-block;
    width:210px;
    text-align:right;
}

.teamhead img {
    vertical-align:text-bottom;
    border:0px;
}

.komatch {
    border:solid 1px black;
    width:135px;
    padding: 2px 2px 3px 2px;
    height: 39px;
}

.komatch div {
    padding: 0px 0px 0px 1px;
    height: 20px;
}

.hoveredmatch {
    cursor: pointer;
    background: #FFFFFF;
}

.r16 .komatch{
    margin-top:10px;    
}

.qf {
    margin-top: 36px;
}

.qf .komatch{
    margin-bottom:66px;
}

.koround {
    float:left;
    margin-right: 10px;
}

.finalfour {
    background: #eeeeee;
    width: 135px;
    padding: 2px 2px 3px 2px;
    border:solid 1px black;
}


