.maincontainer {
  margin-top: 75px;
}

.groupcontainer {


}

.matchcontainer {

}

.countryWithFlag > img {
  margin-right: 2px;
}

.countryWithFlag > span {
  vertical-align: middle;
}

.knockoutMatch li {
  min-height: 21px;
}
.knockoutMatch li:hover{
  cursor: pointer;
}

.countryWithFlag.champion {
  font-weight: bold;
}
