.maincontainer {
  margin-top: 75px;
}

.groupcontainer {


}

.matchcontainer {

}

.countryWithFlag > img {
  margin-right: 2px;
}

.countryWithFlag > span {
  vertical-align: middle;
}

.knockoutMatch li:hover{
  cursor: pointer;
}
